/* Nulstilling af margin og padding på alle elementer, samt ændring af box model på alle elementer */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Normalisering af font og linjehøjde på dokumentets tekster, samt nedtoning af tekstfarven */
  body {
    font-family: system-ui, sans-serif;
    line-height: 1.6;
    color: #2d2d2d;
  }
  
  /* Normalisering af billeder */
  img {
    width: 100%;
    height: auto;
    /* display: block; */
  }
  
  main {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 30px;
    display: grid;
    max-width: none;
  }
  
  hr {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
    
    border: 0;
    border-top: 1px solid black;
  }

  .hr1 {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
    margin-top: 10%;
    border: 0;
    border-top: 1px solid black;
  }
  
  


 


  

/* --------------------menu------------------------ */
#menu {
    display: flex;
    white-space: nowrap;
    padding-left: 20px;
    gap: 15px;
  }
  
  ul#menu li {
    /* display: inline; */
    font-size: 30px;
    padding-left: 5px;
    list-style: none;
    font-family: "bebas neue" ;
  }
  
  @media (min-width: 600px) {
    ul#menu li {
      /* display: inline; */
      font-size: 30px;
      padding-left: 10px;
      padding-right: 10px;
    }
  
  }
  
  header {
    position: sticky;
    top: 0;
    padding: 1rem 2rem;
    /* box-shadow: 0 12px 28px 0 rgb(0 0 0 /30%); */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.704);
    z-index: 1;
  }
  
  .logo {
    font-family: "bebas neue";
    font-size: 50px;
    padding-right: 10px;
  }

  
  header.logo.a {
    font-size: 4rem;
  }
  
  
  @media (min-width: 600px) {
    .logo a {
      /* display: grid; */
      grid-column: 1;
  
     
    }
   
  }
  
  header.nav.ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 0.4rem;
    gap: 30px;
    overflow-x: auto;
  }
  
  
  
  a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(0, 0, 0);
  }
  
  a:hover {
    color: #2c9feb;
  }
  
  * {
    box-sizing: border-box;
  }
  

  
  /* ----------------menu slut------------------------------- */
  

  /* ----------------footer-------------------------- */

  .footer {
    text-align: center;
    padding-top: 2cm;
    padding-bottom: 40px;
  
  }

  .p_footer {
    font-family: 'Times New Roman', Times, serif;
    color: black;
  }

  #section1 {
    padding-top: 5%;
    padding: 5%;
  }
  #section1 .sociale_medier {
    width: 40%;
    display: flex;
    gap: 20%;
    margin-left: auto;
    margin-right: auto;
  }

  /* --------------------footer slut----------------------- */

  /*---------tilbage til toppen-----------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 40px;
  font-size: 10px;
  font-family: "Cormorant Garamond", serif;
}

#myBtn:hover {
  background-color: grey;
}