.grid_tema4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .h1_tema4 {
    justify-self: center;
    align-self: center;
    font-family: "bebas neue";
    font-size: 60px;
    color: #09297a;
  }
  
  .h4_tema4 {
    font-family: "bebas neue";
    font-size: 20px;
    color: #09297a;
  }
  
  .p_tema4 {
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
  }
  
  /*================ tilbage til projekter==============*/
  #tilbagepil {
    width: 15%;
  }
  